<section>
<div class="container">
  <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
    <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
      <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"/></svg>
    </a>

    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
      <li><a href="/" class="nav-link px-2 link-secondary">Home</a></li>
      <li><a href="#" class="nav-link px-2 link-dark">About</a></li>
      <li><a href="#" class="nav-link px-2 link-dark">Services</a></li>
      <li><a href="#" class="nav-link px-2 link-dark">Self Help</a></li>
      <li><a href="#" class="nav-link px-2 link-dark">Contacts</a></li>   

    </ul>

  </header>
</div>
</section>
<section>
<h1 class="mt-4">Dashboard</h1>
<p class="lead mb-3">Welcome <%= name  %> </p>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<a href="/users/logout" class="btn btn-secondary">Logout</a>
<br>
<br>
<br>
<br>
</section>

<section>
  <div>
    <footer>
      <center><p>Author: Group 26-2021    ||    <a href="#">Group 26@cosc300.com</a></p></center>  
    </footer> 
  </div>
</section>